/* Color Picker

.color-picker-message
  color: black
  height: 2rem
  margin-bottom: 2rem
  text-align: center
  font-size: 1.5rem
  font-family: Quicksand

.color-card-container
  width: 10rem
  height: 12rem
  color: black

  &:hover
    border-radius: 15px
    border-style: solid
    border-color: rgb(219, 219, 219)
    border-width: 0px

.color-card-box
  width: 100px
  height: 100px
  border-radius: 15px
  border-style: solid
  border-color: rgb(219, 219, 219)
  border-width: 1px
  cursor: pointer
  transition: 0.2s

  &:hover
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px
    transition: 0.2s

.color-card-rgb
  margin-top: 0.2rem

.color-card-hex
  margin-top: 1rem

.color-card-value
  cursor: pointer
  transition: 0.2s
  font-weight: 500
  font-family: Quicksand

  &:hover
    color: #3178c6
    transform: scale(1.05)