/* E-mail verifier

.email-verifier-form
  margin-bottom: 1rem

.email-verifier-result
  height: 3rem
  text-align: center
  font-size: 1.3rem
  margin-top: 1rem
  font-family: Quicksand
  color: rgb(82, 82, 82)
  margin-bottom: 3rem
  width: 40vw