/* List of users

.userslist .table
  font-family: Quicksand
  margin-top: 2rem

  *
    background-color: rgba(255, 0, 0, 0) !important

  tr
    border-color: #d4d4d4 !important
    margin-top: 0.5rem