
/* App sections

.app-routes
  width: 100%
  height: 100%
  padding: 1.5rem

.app-content-input
  background-color: rgb(255, 255, 255)
  border-width: 0
  border-radius: 15px
  padding: 0.6rem
  margin-right: 2rem
  color: rgb(54, 54, 54)
  width: 16rem
  outline: 2px solid rgb(203, 220, 247)

  &:focus
    outline: 2px solid rgb(114, 154, 218)

.app-content-button
  border: none
  outline: none
  background-color: #3178c6
  color: rgba(255, 255, 255, 0.851)
  padding: 0.6rem 1.5rem 0.6rem 1.5rem
  border-radius: 20px
  border-width: 1px
  border-color: #f2f5f8
  border-style: solid
  font-family: Quicksand
  font-size: 0.9rem
  font-weight: 500
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px

  &:hover
    background-color: #689dd6
    color: rgba(255, 255, 255)