/* Header

.header
  border-style: solid
  border-width: 0 0 2px 0
  border-color: #e9ebec00
  height: 12vh
  min-height: 12vh
  max-height: 12vh
  width: 100%
  padding-left: 2rem
  padding-right: 2rem

.header-logo
  width: 16rem

.header-logo-image img
  width: 40px
  height: 40px
  margin-right: 0.8rem

.header-logo-text
  font-family: Poppins
  font-size: 1.8rem
  font-weight: 500
  color: #4a4e53
  font-weight: 700

.header-logo-text-second
  color: #3178c6
  margin-left: 0.3rem

.header-links
  width: calc(100% - 16rem)

  a
    text-decoration: none
    color: rgb(161, 161, 163)
    margin: 1rem 1.5rem 1rem 1rem
    color: rgb(117, 117, 117)
    background-color: rgb(255, 255, 255)
    padding: 0.8rem 2rem 0.8rem 2rem
    border-radius: 20px
    transition: 0.2s
    border-width: 2px
    border-color: rgb(236, 236, 236)
    border-style: solid
    font-size: 0.8rem
    font-weight: 500
    font-family: Quicksand
    font-weight: 700

    &:hover
      transition: 0.2s
      border-color: #3178c6

.header-gitlab-icon
  margin-left: 0.5rem
  display: inline-block
  width: 50px
  height: 50px
  border-width: 2px
  border-color: rgb(236, 236, 236)
  border-style: solid
  border-radius: 50%
  text-align: center
  display: flex
  align-items: center
  justify-content: center
  color: rgb(153, 152, 152)
  font-size: 1.5rem
  transition: 0.2s
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px

  &:hover
    transition: 0.2s
    border-color: #3178c6
