@import "content", "header", "responsive"
@import "apps/color-picker", "apps/email-verifier", "apps/users-list"
  
/* Main CSS

body
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

code
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace

body, head, #root
  height: 100vh
  color: white

.app-container
  background: #f0f0f0  
  width: 100vw
  height: 100%

.app
  border-radius: 10px !important
  width: 100%
  height: 100%
  background: #ffffff
  background-image: radial-gradient(rgba(82, 82, 82, 0.15) 1px, transparent 0)
  background-size: 30px 30px
  background-position: -19px -19px
  border-style: solid
  border-width: 0px
  border-color: #f2f5f8
  padding: 1rem




